# 這是一個範例的.env檔案，請將以下的值替換成你自己的MySQL資料庫連線資訊，並將檔案命名為.env，放在專案根目錄下。
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=


# 請將以下的值替換成你自己的Redis資料庫連線資訊
REDIS_HOST=
REDIS_PORT=
REDIS_USER=

# 請將GoogleMap place API金鑰填入
GOOGLE_MAP_API_KEY=


